/* CSS Custom Properties */

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --white: #FFFFFF;
  --tan-1: #000;
  --tan-2: #fff;
  --tan-3: #fff;
  --tan-4: #000;
  --orange: #b1305c;
  --text-light: #fff;
  --text-dark: #fff;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--tan-4);
  padding: 2vmin;
  height: 100vh;
  color: white;
}

